@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


@if(Model.Any())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    @foreach (var customer in Model) {
        <tr>
            <td> @Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })</td>
            <td> @customer.MembershipType.Name</td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
        </tr>
    }
    </table>
}
else
{
    <text>We don't have any customers yet.</text>
}

